<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Takımhane Admin Paneli</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    {% block extra_head %}{% endblock %}  </head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'ozel_admin_anasayfa' %}">
                Takımhane
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{% url 'alet_listesi' %}">
                    Aletler
                </a>
                <a class="navbar-item" href="{% url 'raporlar' %}">
                    Raporlar
                </a>
                </div>
        </div>
    </nav>

    <section class="section">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </section>

    {% block extra_js %}{% endblock %}  </body>
</html>
