{% extends 'ozel_admin/base.html' %}

{% block content %}
    <h1 class="title">Teknisyen Ekle</h1>

    <form method="post" class="box">
        {% csrf_token %}
        <div class="field">
            <label class="label">İsim</label>
            <div class="control">
                {{ form.isim }}
            </div>
        </div>
        <div class="field">
            <label class="label">Telefon</label>
            <div class="control">
                {{ form.telefon }}
            </div>
        </div>
        <button class="button is-primary" type="submit">Kaydet</button>
    </form>
{% endblock %}
